.home_wrapper {
  height: 100vh;
  display: flex;
}

.sidebar_wrapper {
  flex-basis: 17.5%;
}

.home_headerAndBodyWrapper {
  flex-basis: 82.5%;
  display: flex;
  flex-direction: column;
}

.home_header {
  flex-basis: 10%;
}

.home_body {
  display: flex;
  gap: 1em;
  height: 100%;
  background-color: #f4f5fa;
  padding: 0.75em;
}

.sales_section {
  flex-basis: 65%;
  height: 100%;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.sales_cards_section {
  display: flex;
  gap: 1em;
  flex-basis: 25%;
}

.sales_card {
  flex-basis: 50%;
}

.marketing_graph {
  display: flex;
  height: 100%;
  gap: 1em;
  flex-basis: 40%;
}

.pie_graph {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  padding: 0.5em;
  border-radius: 0.5em;
}

.pie_graph_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 20%;
}

.pie_heading {
  font-family: "Poppins-Medium";
  font-size: 16px;
  font-weight: 500;
  color: #45464e;
}

.pie_graph_body {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pie_chart {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie_chart_indicators {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marketing_section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 50%;
}

.indicator {
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.indicator_name {
  font-family: "Poppins-Regular";
  font-size: 11px;
  font-weight: 400;
  color: #a6a8b1;
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45em;
}

.marketing_card {
  flex-basis: 50%;
}

.summary_graph {
  flex-basis: 35%;
  border: 1px solid red;
}

.order_section {
  flex-basis: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.order_card {
  flex-basis: 25%;
}

.recent_cards {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 0.5em;
}

.heading_section {
  flex-basis: 10%;
  height: 100%;
}

.card_heading {
  color: #45464e;
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.orders {
  flex-basis: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
}
